<nav class="navbar navbar-light bg-info">
  <a class="navbar-brand" href="#">
    <img src="../assets/SS.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Survey Shrike
  </a>
</nav>
<div class="m-5 jumbotron">
  <h1 class="display-4">Welcome to Survey Shrike</h1>
  <p class="lead">Survey shrike is a free online survey tool.
    We help businesses conduct surveys.</p>
  <hr class="my-4">
  <p>We believes every customer has different views or comments about services and over all products.
    And every business needs to know right customer mindset to engage customers for long run.
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create your free survey today</a>
</div>
